// out: ../css/ae.css, compress: false

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Londrina Outline', cursive;
font-family: 'Almendra Display', cursive;
*/

@require "ae-util"


category(1, theme-blue)
category(2, theme-red)
category(3, theme-yellow)


body
  margin: 0
  background-color: theme-white

a
  color: inherit
  text-decoration: none
  transition: background 0.2s linear

// TOP-BAR RULES

.diagnostic
  display: none
  text-align: right

.global-diagnostic
  sans(Kanit, s: 20px)
  position: absolute
  top: bar-height
  right: 15px
  diag-zi: 101
  padding-top: 3px
  padding-bottom: 3px
  margin-top: 0
  margin-bottom: 0
  width: 100%
  br
    display: none

body[ae-mode="page"]
  .global-diagnostic br
    display: inline

.item[aeorigin="preloaded"] .times
  display: none

.top-bar
  sans(Kanit, s: bar-font-size)
  clr(fg: theme-white, bg: theme-blue)
  height: bar-height
  position: absolute
  top: 0
  left: 0
  width: 100%
  &.dynamic
    transition: height fold-time ease-in-out
  overflow: hidden
  &.tinted
  &.tinted .top-bar-contents
    clr(bg: theme-dark-gray)
  .top-bar-contents
    clr(bg: theme-blue)
    height: bar-height
  .top-bar-contents, .inner-body
    overflow: visible
  .pages .ae-page
    display: none
  .ae-page
    text-align: justify
    p
      padding-left: 125px
    .aside
      sans('Almendra Display')
    .digital
      font-family: Consolas, monaco, monospace;
  &.unfolded
    z-index: bar-zi
    .ae
      position: relative
    .top-bar-contents
      position: absolute
      bottom: 0
      width: 100%

.ae-page.displayed
  display: block !important

body[ae-diagnostic-mode="true"][ae-mode="item"] .focused .item-diagnostic
  display: block

body[ae-mode="page"] .global-diagnostic
  top: 0
  right: 0

*[aedest]
  interface-link()

.link-decorator
  font-size: 0.6em
  position: relative
  bottom: 0.35em

.page-menu
  sans(standard-font, s: 15px)
  display: none
  position: absolute
  top: bar-height
  height: menu-height
  line-height: menu-height
  width: 100%
  text-align: left
  margin: 0
  padding: 0
  text-align: right
  li
    display: inline-block
    margin: 0
    margin-left: 5px
    padding-left: 5px
    padding-right: 5px

body[ae-has-pages] .page-menu
  display: block

body[ae-mode="page"][ae-diagnostic-mode="true"] .pages
  padding-top: 15px

body[ae-diagnostic-mode="true"] .global-diagnostic
  display: block

.byline
  interface-text()
  text-decoration: none

.textmark
  sans(Yantramanav)
  interface-link()
  bar-item(left)
  hover-glow(theme-white, theme-black, glow-spread: 7px)

.ae
  sans(Yantramanav, w: bold)
  clr(fg: theme-blue, bg: theme-white)
  interface-link()
  bar-item(left)
  hover-glow(theme-blue, theme-blue, glow-spread: 10px)
  padding: 0 5px 0 5px
  margin-right: 5px


.parenthetical
  hover-glow(theme-white, theme-black, glow-spread: 7px)
  margin-left: 2em

.telephone
  cursor: pointer
  text-decoration: none

.big-page-link
  sans(Quicksand, s: 0.6em)
  interface-link()
  bar-item(right)
  hover-glow(theme-white, theme-black, glow-spread: 7px)
  padding: 0 2.5px 0 2.5px

.close-page-link
  display: none

body[ae-mode="page"]
  .close-page-link
    display: block
  .about-link
    display: none


// BADGE RULES

.inner-body
  overflow: hidden
  margin: 0 auto 0 auto

bwfw(w, m, c = 3)
  (w / c) - (m * 2)

bw1 = bwfw(900px, 20px)
bh1 = ratio(bw1, badge-ratio)

bw2 = bwfw(700px, 15px)
bh2 = ratio(bw2, badge-ratio)

bw3 = bwfw(500px, 10px, c: 2)
bh3 = ratio(bw3, badge-ratio)

@media (min-width: 1000px)
  .inner-body
    width: 900px
  .border
    inset-badge(bw1, bh1, 2.5px, 20px, 0.15, 0.9)
  .parenthetical
    bar-item(left, 0.44, lines: 2)
    font-size: 0.55em
  .fullscreen
    .badge .inset .menu
      width: (900px * 0.25) - 15
      margin-right: 15px
    .badge .inset .contents
      width: 900px * 0.75
      margin-left: 900px * 0.25

@media (min-width: 800px) and (max-width: 999px)
  .inner-body
    width: 700px
  .border
    inset-badge(bw2, bh2, 2.5px, 15px, 0.15, 0.9)
  .parenthetical
    bar-item(left, 0.4, lines: 2)
    font-size: 0.45em
  .fullscreen
    .badge .inset .menu
      width: 700px * 0.25
    .badge .inset .contents
      width: 700px * 0.75
      margin-left: 700px * 0.25

@media (max-width: 799px)
  .inner-body
    width: 500px
  .border
    inset-badge(bw3, bh3, 2.5px, 10px, 0.15, 0.9)
  .parenthetical
    bar-item left
    font-size: 0.45em
  .contact-info
    display: none
  .fullscreen
    .badge .inset .menu
      width: 500px * 0.25
    .badge .inset .contents
      width: 500px * 0.75
      margin-left: 500px * 0.25

.badges
  padding-top: 20px + total-top-height

.border
  &.full-link
    interface-link()
  float: left
  overflow: hidden
  &:hover .badge
    clr(bg: theme-dark-gray)
  &:hover .icon
    visibility: visible
  &:hover .inset
    clr(fg: theme-gray)
  &.fullscreen
    width: 100%
    position: absolute
    top: total-top-height
    left: 0
    z-index: card-zi
    margin: 0
    .badge
      clr(bg: theme-dark-gray)
      width: 100%
    .badge .inset
      width: 100%
      overflow-y: scroll
    .badge .inset .inset-body
      overflow: visible
    .badge .inset .menu
      padding-top: 30px;
      position: fixed
      font-size: 0.85em
    .badge .inset .contents
      float: left
      padding-top: 30px;
      p, h2
        margin-top: 0;
    .badge .label
      width: 100%
    .inset
      clr(fg: theme-gray)
    .badge .label .label-text
      padding-right: 0
    .badge .label .label-small
      padding-right: 5px
    .inset li
      padding-left: 0

.badge
  sans(Kanit, s: 20px)
  clr(fg: theme-gray)
  text-align: right
  transition: background-color 0.25s ease-in-out

.inset
  clr(bg: theme-gray)
  text-align: left
  transition: background-color 0.25s ease-in-out
  transition: color 0.15s ease-in-out
  .contents
    display: none
    font-size: 0.9em
    .item
      margin-bottom: 30px

    .poem
      pre, code
        sans(Kanit)
    .info
      float: right
      width: 250px
      font-size: 0.8em
      margin-left: 15px
      margin-bottom: 15px
      .key
        clr(fg: theme-blue + #666)
        vertical-align: top
        width: auto
        padding-left: 0
        padding-right: 10px
      .links-label
        padding-top: 10px
        display: block
      .boxed
        border-collapse: collapse
        border: 0
        padding: 0
        margin: 0
    .aside
      font-size: 0.85em
      margin-right: 100px
      margin-top: 40px
      margin-bottom: 20px
      .aside-text
        padding-left: 10px
        padding-top: 5px
        padding-bottom: 5px
        p:last-child
          margin-bottom: 0
      .aside-label
        text-align: right
    .item-diagnostic
      display: none
      position: absolute
      bottom: 50px
      right: 15px
  ul
    padding: 0
    padding-top: 0.1em
    margin: 0
  li
    interface-link()
    list-style: none;
    padding-top: 0.1em
    padding-bottom: 0.1em
    padding-left: 0.5em
    transition: background-color 0.15s ease-in-out
    &:before
      content: ">\2009"
      font-family: Consolas, monaco, monospace
      transition: color 0.15s ease-in-out
    &:hover:before
      content: "@\2009"

.diagnostic
  font-size: 0.8em
  padding-right: 15px
  padding-left: 20px
  .data
    font-family: Consolas, monaco, monospace


.chloroform-logo
  width: 100px
  height: 100px
  margin: 72.5px

.label
  interface-link()
  .button
    display: block
    padding-left: 10px
    padding-right: 10px
  .label-controls
    display: none
  .up-button
    float: right
  .close-button
    float: left
  .label-text
    display: block
  .title
    padding-right: 5px
    float: right
  .subtitle
    padding-right: 5px
    float: right
    normal-text()
    .seperator
      padding-left: 15px
      padding-right: 15px
  .label-small
    sans(Quicksand, s: 0.6em)


// TREE RULES

.proc-tree
  width: 100%
  height: 500px
